h1 {
    font-size: 2rem;
    font-weight: bold;
}

.buy-beat-page {
    left: 0;
    width: 30rem;
    place-self: center;
    background: #00000023;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

@media(max-width: 600px) {
    .buy-beat-page {
        width: 90%;
    }
}

.buy-beat-page a {
    text-align: center;
    margin-bottom: 2rem;
}