.main-container {
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  background: #00000023;
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: relative;
}

.carousel {
  padding: 1rem;
  display: flex;
  overflow-x: auto; 
  scroll-snap-type: x mandatory; 
  scroll-behavior: smooth; 
  -ms-overflow-style: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.slide {
  scroll-margin-top: 200px;
  flex: 0 0 100%;
  width: 100%;
  display: flexbox;
  scroll-snap-align: start; 
  justify-content: center;
  padding: 1rem;
}


.carousel-nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.carousel-nav a {
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  font-family: sans-serif;
  font-size: 14px;
}

audio {
  width: 100%;
  margin-bottom: 2rem;
  display: block;
}

ul{
  justify-self: center;
  width: 100%;
  word-break: break-word;
  list-style: circle;
  background: #00000023;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.info-section {
  width: 400px;
  justify-self: center;
}

ul li {
  text-align: left;
  margin: 1rem;
}

.info-section h1 {
  margin-top: 3rem;
}

.info-section p{
  opacity: 0.6;
  margin-top: 1rem;
  margin-bottom: 2rem;
}