section{
    margin-bottom: 20rem;
}

@media (min-width: 800px)  
{
    .grid-div {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.grid-div {
        display: grid;
        gap: 1rem;
    }

    

.grid-div h2 {
    background: #00ff4c10;
    border-radius: 2rem;
} 

h2 {
    font-size: medium;
    padding: 1rem;
    text-align: center;
}
.grid-div p {
    text-align: left;
    padding-left: 1rem;
} 
.grid-div div span {
    bottom: 0;
    display: block;
    position: relative;
} 
.grid-div div span p {
    text-align: center;
} 

.grid-div div div {
    height: 13rem;
}

section h2:last-child {
    text-align: center;
    margin-top: -2rem;
}

.grid-div div {
    padding: 1rem;
    background: hsla(229, 100%, 50%, 0.068);
    border-radius: 2rem;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
} 
@media (min-width: 800px)  {
.pacotes {
    grid-column: span 3;
} 
}
.pacotes p {
    margin: -0.25rem;
    text-align: center;
}