#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  max-width: 300px;
  border-collapse: collapse;
  table-layout: inherit;
  margin-top: 2rem;
}

@media screen and (max-width: 700px) {
  
}

@media screen and (min-width: 1000px) {
  .table-div {
    display: inline-flex;
  }
}

th {
  text-align: left;
  font-size: larger;
  border: 3px solid #333333;
  padding: 2rem;
}

iframe {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0rem 1rem #0000005e;
}


#social-medias img {
  height: 3rem;
  width: auto;
  padding: 2% 5%;
  transition: filter 150ms;
}
#social-medias img:hover {
  filter: drop-shadow(0 0 0.5rem #6b6b6baa);
  transform: scale(1.1);
}

tr{
  text-align: left;
  font-size: larger;
  border-bottom: 1px solid #333333;
  padding: 2rem;
}